

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #565a5c;
    padding-top: 6.5%;
}

@font-face {
    font-family: "Heart-of-everything";
    src: url("../fonts/The-Heart-of-Everything-Demo.ttf");

}


@media screen and (min-width: 769px){
    section:not(#slider-section){
        padding: 3% 0;
    }
    
  

}

@media screen and (max-width: 767px){
    
    
    #slider-section{
   margin-top: 25px;
}

}


/* ==========================================================================
                                Navigation
   ========================================================================== */

.top-header{
    background-color: #e94c45;
    border: none;
    padding: 10px 10px 1px 2px;
    display: none;
}

.custom-brand{
    padding: 10px;
    text-align: -webkit-center;
}


.nav{
    padding-left: 10px;
}


nav ul{
    z-index:1000;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}
.custom-nav.active{
    opacity: 1;
    color:#fff;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}

.custom-nav{
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    /*top: 42px;*/
}

.navbar-default .navbar-nav>li>a{
    font-size: 17px;
    min-height: 65px;
    line-height: 65px;
    color: #e94c45;

}


@media screen and (max-width: 600px) {
    .header-logo{
        width: 38%;
    }
}





/* ==========================================================================
                                Product Display
   ========================================================================== */

@media screen and (min-width: 769px) {
    .product-slider{
        margin-top: 80px;
    }
}


.dropdown-menu{
    left: auto;
    padding: 0px 0px;
    border-radius: 0px;
    top:98%;
}

.dropdown-menu>li>a{
    padding: 13px 20px;
    font-size: 17px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background: #fff;
    color: #ec6660;
}

/* ==========================================================================
                               Banner1 and 2
   ========================================================================== */
#banner1{
    background: url('../img/GHAR-KA-KHANA-NT.jpg') center no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
        padding: 10% 0!important;
}

#banner2{
    background: url('../img/TONGUE-NEW-EXPERT-NT.jpg') center no-repeat;
    width: 100%;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
    padding: 2% 0!important;
}

#banner1 .banner-title{
    text-align: center;
/*    background-color: rgba(233, 76, 69, 0.69);
*/    padding: 20px;
    width: 100%;
    margin: 50px 0;
    color: #fff;

}


#banner1 .banner-title h2{
    font-family: "Heart-of-everything", sans-serif;
    font-size: 57px;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bolder;
}

#banner2 .banner-title{
    text-align: center;
/*    background-color: rgba(221, 196, 161, 0.69);
*/    padding: 20px;
    width: 100%;
    margin: 50px 0;
    color: #fff;
}

#banner2 .banner-title h2{
    font-family: "Heart-of-everything", sans-serif;
    font-size: 57px;
    letter-spacing: 3px;
    color: #2f1b27;
    font-weight: bolder;
}

#banner2 .banner-title > p{
    color: #2f1b27;

}


.cover-btn-dark{
    color: #2f1b27;
    background-color: transparent;
    border: 2px solid #2f1b27;
    padding: 8px 30px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.2s;

}

.cover-btn-dark:hover, .cover-btn-dark:focus{
    color: #fff;

    background-color: #2f1b27;
    border: 2px solid #2f1b27;
    padding: 8px 30px;
    text-transform: uppercase;

}


.cover-btn{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    margin: 10px 10px;
    color: #fff;
    display: inline-block;
    transition: all 0.3s;

}

.cover-btn:hover,.cover-btn:focus{
    color: #333;
    text-decoration: none;
    border: 2px solid #faebd7;
    background-color: #faebd7;

}


.sec-title div{
    height: 35px;
    border-bottom: 3px solid #e94c45;
    text-align: center;

}

.sec-title span {
    background-color: #fff;
    padding: 0 15px;
}

.sec-title h2{
    display: inline;
    font-size: 49px;
    color: #e94c45;
}



#footer-section{
    background-color: #311423;
    color: #dcc3a0;
}


#footer-section .container .social-list li {
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(199, 174, 146);
    float: right;
    text-align: center;

}

.footer-links a{
    color: #dcc3a0;
}


#footer-section .container .social-list li > a{
    color: #fff;
    font-size: 1.3em;

}


hr{
    border-top: 2px solid #c7ae92;
}


.subscribe-field{
    background: transparent;
    border: 2px solid #c7ae92;
}


.m-30{
    padding: 30px;
}

.p-t-5{
    padding-top: 5px !important;
}




/*Effects*/




.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100%;
    max-width: 100%;
    max-height: 360px;
    width: 48%;
/*    background: #3085a3;*/
/*    background: #b5442a;*/
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    /*min-height: 100%;*/
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 1.8vh;
    text-transform: capitalize;
}
.wrap{
overflow: auto;
  /*  height:2050px;*/
    position:relative;
}

.filter-bar{
    z-index: 2;
    transition: all 0.3s ease;
}
.grid{
    margin: 10px;
}

/* Individual effects */



/*---------------*/
/***** Oscar *****/
/*---------------*/

/*figure.effect-oscar {*/
    /*background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);*/
    /*background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);*/
/*}*/

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
    height: auto;
}

figure.effect-oscar figcaption {
    padding: 1em;
    /*background-color: rgba(58,52,42,0.7);*/
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    font-size: 1.9vh;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar .caption {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover .caption {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
/*    background-color: rgba(58,52,42,0);*/
    background-color: rgba(181, 68, 42, 0.65);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

.caption{
/*    margin-top: 50%;*/
    margin-top: 25%;
}

.effect-oscar .cover-btn{
    border:1px solid #f9f9f9;
    padding: 6px 10px;
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }

    .sec-title div{
        margin-top: 20px;
    height: 45px;
    border-bottom: 3px solid #e94c45;
    text-align: center;

}

.sec-title h2{
    display: inline;
    font-size: 30px;
    color: #e94c45;
}

    #banner1{
        height: 70vh;
    }
}


.p-10{
    padding: 10px!important;
}


.slick-arrow[style]{
 display: none!important;
}

/*FilterZ Isotope filter styling*/
  .item-desc {
/*    background-color: rgba(0,0,0,0.5);*/
    background-color: #fff;
    color: #333;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
/*    background-color: #585858;*/
    background-color: #fcf8e3;
    color: #777;
}
.simplefilter li.active {
/*    background-color: #212121;*/
    background: #fff;
    color: #333;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}

.filter-bar{
    padding: 10px 10px 0px 0px;
    /*background: rgba(233, 76, 69, 0.26);*/
    background:rgb(246, 143, 138);
    height: 62px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: 4.5%;
    right: 4.5%;
    width: 100%;
}
.filtr-container {
    padding-top: 80px !important;
}
.simplefilter{
    padding-left: 10px;
}

.simplefilter span{
    padding-right: 10px;
    color: #fff;
}

.filtr-item img{
    margin-bottom: 50px;
    width: 100%;
}

.filtr-item{
    margin-top: 10px;
    border: 2px solid #f9f9f9;
    cursor: pointer;
}

.caption h3{
    font-size: 2.4vh;
}

.pc-hover{

    position: absolute;
/*    background: rgba(0,0,0,0.75);*/
/*    background:  rgba(233, 76, 69, 0.8);*/
   background:  rgba(181, 68, 42, 0.65);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
     text-align: center;

    color: #f9f9f9;
    padding: 30px 5%;
    font-size: 2.5vh;
opacity: 0;

/*    visibility: hidden;*/
    transition: opacity 0.2s ease-in;

}

.filtr-item:hover .pc-hover{
    opacity: 0.9;
/*    visibility: visible;*/

}

.product-main > .row{
    height: 60vh;

}

.product-main .sec-box{
    height: 100%;
    padding: 12px 7% 5% 10%;
    font-size: 2.6vh;
    text-align: left;

}

.sec-box p{
    font-size: 2.3vh;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.5;
    font-family: Open Sans;
    text-align: justify;

}

.about-text{
    padding: 50px 0px 50px 0px;
    text-align: justify;
    font-size: 2.6vh;
    line-height: 1.575em;
    letter-spacing: 0.1px;
}

.about-us-img{
    padding: 35px;
    margin-top: 15px;
}

.product-main .row .label-row{
    height: auto;
}

.label-row span{
        font-size: 2vh;
}

.label-row span.labl{
        font-size: 1.8vh;
}

.label-row .lab{
    padding-right: 0px;
    padding-bottom: 10px;
}

.label-row .info{
    padding-left: 0px;
    margin-left: -15px;
}

.sec-box img{
/*    width: 80%;*/
    height: 100%;
}

.sec-box:first-child{
    padding: 0px;
    text-align: center;
    text-align: -webkit-center;
}

.sec-box h3{
    margin-bottom: 18px;
}

.btn-store-loc{
    margin-top: 15px;
}

.rec-pro .product-slider{
    margin-top: 25px;
}


.addfilterclass{
    position: fixed;
    top: 95px;
background-color:#f68f8a;
    width:168vh;
}

.removefilterclass{
    position: static;
    top: 0px;
    width:168vh;
}

@media screen and (max-width:767px){
    .label-row .info{
    padding-left: 8px;
    margin-left: auto;

    }

    .simplefilter {
       padding: 0px;
        text-align: center;
    }

    .simplefilter li{
        padding: 6px 15px !important;
        font-size: 2vh;

    }

    .simplefilter span{
        display: none;
    }

    .filter-bar .col-md-7{
        padding-right: 0px;
    }

    .slick-initialized .slick-slide{
        margin-top: 30px;
    }

    .item-desc{
        font-size: 2.1vh;
    }
}

@media screen and (max-width:320px){
    .product-main .row{
        height: auto;
    }
}


@media screen  and (min-width:1440px){
    figure.effect-oscar figcaption {

    font-size: 1.3vh;

    }

}



/*----------------------------------
        Product info tabs
-----------------------------------*/

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a{
    background: transparent;
    box-shadow: none;
}

@media screen and (min-width: 769px) {
    #product-info{
        margin: 30px 0;
    }
}



#product-info .tab-content{
    background: #f3f3f3;
    padding: 30px ;
}

#product-info .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #e94c45;
    background-color: transparent;
    border-bottom: 2px solid #e94c45;
    border-radius: 0;
}


#product-info .nav-pills>li>a{
    color: #565a5c;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}

#product-info .nav>li>a:hover, .nav>li>a:focus{
    color: #e94c45;
    background-color: transparent;
}


/*----------------------------------
        Contact us
-----------------------------------*/

#contact-us-section {
    padding: 0 0 20px 0!important;
}

#contact-us-section .contact-banner{
    background: url('../img/CONTACT-US.jpg') center no-repeat;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
                height: 400px;
}



#contact-us-section .contact-banner:before{
}


#contact-us-section .contact-banner h1 {
    color: #fff;
}

#contact-us-section .row h3{
    margin: 20px 0;
}


#contact-us-section .row .form-group input {
    height: 50px;
    box-shadow: none;
}

.contact-bg{
    background-color: #f2f2f3;
    padding: 20px;
}


#contact-us-section .contact-btn{
    background-color: #fff;
    color: #e94c45;
    border: 2px solid #e94c45;
    height: 50px;
    width: 160px;
    font-size: 18px;
}




/*----------------------------------
        Helper Classes
-----------------------------------*/


.p-10{
    padding: 10px!important;
}

.p-0{
    padding: 0!important;
}

.p-t-20{
    padding-top: 20px !important;
}

.border-right{
    border-right: 1px solid #eee;
}

.border-bottom{
    border-bottom: 1px solid #eee;
}



/*----------------------------------
        Recipe Description
-----------------------------------*/

#recipe-description ul li{
    line-height: 50px;
    border-bottom: 1px solid #eee;
    list-style: square;

}

#recipe-description  p{
    padding: 10px;

}

#recipes ul{
    padding: 0;
}

#recipes ul li{
    list-style: none;
    width: 260px;
    height: 150px;
    display: inline-block;
    margin: 0 10px auto;

}

#recipes ul li figure figcaption{
    text-align: center;
    color: #333;
}


/*Contact Us Right Side Box*/

.contact-bg .contact-info {
   background: #dbc39d;
    outline: 2px solid #ebebeb;
    outline-offset: -10px;
    font-size: 2.3vh;
    line-height: 1.5;
    padding: 10% 2%;
    margin-top: 2%;

}

.contact-bg .contact-info i{
    color : #523633;
}

.contact-bg .contact-info p a {
    font-size: 2.2vh;
    font-weight: 300;
    text-decoration: none;
    color: #e28272;
}


@media screen and (max-width:767px){
      .contact-bg .contact-info {
        font-size: 2vh;
        padding: 10% 12%;
    }


}

/*//////////////////////////////////////////////////Filter//////////////////////////////////////////////////////////*/

/*T&C Page*/

.tnc-heading-bg{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e94c45;
    color: #fff;
    letter-spacing: 1px;
    font-size: 2.4vh;
    margin-bottom: 10px;
    margin-top: 12px;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
    position: relative;
    height: 150px;
    background-color: #331d35;
}
.cd-header h1 {
    color: #ffffff;
    line-height: 150px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
}
@media only screen and (min-width: 1170px) {
    .cd-header {
        height: 180px;
    }
    .cd-header h1 {
        line-height: 180px;
    }
}

.cd-main-content {
    position: relative;
    min-height: 100vh;
}
.cd-main-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
    padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
    position: fixed;
    height: 100vh;
    overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
    position: fixed;
}
@media only screen and (min-width: 768px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 90px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 100px;
    }
}

/* --------------------------------

xtab-filter

-------------------------------- */
.cd-tab-filter-wrapper {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    z-index: 1;
}
.cd-tab-filter-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.cd-tab-filter {
    /* tabbed navigation style on mobile - dropdown */
    position: relative;
    height: 50px;
    width: 140px;
    margin: 0 auto;
    z-index: 1;
}
.cd-tab-filter::after {
    /* small arrow icon */
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}
.cd-tab-filter ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
    display: none;
}
.cd-tab-filter li:first-child {
    /* this way the placehodler is alway visible */
    display: block;
}
.cd-tab-filter a {
    display: block;
    /* set same size of the .cd-tab-filter */
    height: 50px;
    width: 140px;
    line-height: 50px;
    padding-left: 14px;
}
.cd-tab-filter a.selected {
    background: #41307c;
    color: #ffffff;
}
.cd-tab-filter.is-open::after {
    /* small arrow rotation */
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
    box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
    display: block;
}
.cd-tab-filter.is-open .placeholder a {
    /* reduces the opacity of the placeholder on mobile when the menu is open */
    opacity: .4;
}
@media only screen and (min-width: 768px) {
    .cd-tab-filter {
        /* tabbed navigation style on medium devices */
        width: auto;
        cursor: auto;
    }
    .cd-tab-filter::after {
        /* hide the arrow */
        display: none;
    }
    .cd-tab-filter ul {
        background: transparent;
        position: static;
        box-shadow: none;
        text-align: center;
    }
    .cd-tab-filter li {
        display: inline-block;
    }
    .cd-tab-filter li.placeholder {
        display: none !important;
    }
    .cd-tab-filter a {
        display: inline-block;
        padding: 0 1em;
        width: auto;
        color: #9a9a9a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .no-touch .cd-tab-filter a:hover {
        color: #41307c;
    }
    .cd-tab-filter a.selected {
        background: transparent;
        color: #41307c;
        /* create border bottom using box-shadow property */
        box-shadow: inset 0 -2px 0 #41307c;
    }
    .cd-tab-filter.is-open ul li {
        display: inline-block;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-tab-filter {
        /* tabbed navigation on big devices */
        width: 100%;
        float: right;
        margin: 0;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        transition: width 0.3s;
    }
    .cd-tab-filter.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%;
    }
}

/* --------------------------------

xgallery

-------------------------------- */
.cd-gallery {
    padding: 26px 5%;
    width: 100%;
}
.cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: none;
}
.cd-gallery li.gap {
    /* used in combination with text-align: justify to align gallery elements */
    opacity: 0;
    height: 0;
    display: inline-block;
}
.cd-gallery img {
    display: block;
    width: 100%;
}
.cd-gallery .cd-fail-message {
    display: none;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .cd-gallery {
        padding: 40px 3%;
    }
    .cd-gallery ul {
        text-align: justify;
    }
    .cd-gallery ul:after {
        content: "";
        display: table;
        clear: both;
    }
    .cd-gallery li {
        width: 48%;
        margin-bottom: 2em;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-gallery {
        padding: 50px 2%;
        float: right;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        transition: width 0.3s;
    }
    .cd-gallery li {
        width: 23%;
    }
    .cd-gallery.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%;
    }
}

/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
    -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #41307c;
    z-index: 2;
}
.cd-filter form {
    padding: 70px 20px;
}
.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #37296a;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
    background: #32255f;
}
.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
    opacity: 1;
}
@media only screen and (min-width: 1170px) {
    .cd-filter {
        width: 20%;
    }
    .cd-filter form {
        padding: 70px 10%;
    }
}

.cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
    z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
    pointer-events: none;
}
@media only screen and (min-width: 1170px) {
    .cd-filter-trigger {
        width: auto;
        left: 2%;
        text-indent: 0;
        color: #9a9a9a;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 24px;
        background-position: left center;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }
    .no-touch .cd-filter-trigger:hover {
        color: #41307c;
    }
    .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
        color: #ffffff;
    }
}

/* --------------------------------

xcustom form elements

-------------------------------- */
.cd-filter-block {
    margin-bottom: 1.6em;
}
.cd-filter-block h4 {
    /* filter block title */
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
    color: #41307c;
}
.cd-filter-block h4::before {
    /* arrow */
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
    /* shared style for input elements */
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
    width: 100%;
    padding: .8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #41307c;
}
.cd-filter-block input[type='search'] {
    /* custom style for the search element */
    border-color: transparent;
    background-color: #e6e6e6;
    /* prevent jump - ios devices */
    font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
    display: none;
}
.cd-filter-block .cd-select {
    /* select element wrapper */
    position: relative;
}
.cd-filter-block .cd-select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
}
.cd-filter-block select {
    cursor: pointer;
    font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
    display: none;
}
.cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
    margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
    padding-left: 24px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
    /* check mark - hidden */
    display: none;
}
.cd-filter-block .checkbox-label::after {
    /* check mark style for check boxes */
    width: 16px;
    height: 16px;
    background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    border-radius: 50%;
}
.cd-filter-block .radio-label::after {
    /* check mark style for radio buttons */
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
    border-color: #41307c;
    background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
    display: block;
}

@-moz-document url-prefix() {
    /* hide custom arrow on Firefox - select element */
    .cd-filter-block .cd-select::after {
        display: none;
    }
}


.m-t-60{
    margin-top: 60px!important;
}


.other-recipe{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
}

.other-recipe figcaption{
    padding: 15px;
    background-color: #f5f5f5;
    text-align: center;
    margin: -20px;
    margin-top: 20px;
}
}